<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/script.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="jumbotron">
      <h1 id="header"> Restaurant Lottery </h1>
    </div>
    <br>
    <div class="col-sm-9">
    <button id="start" type="button" onclick="start()" class="btn btn-primary" style="display: none;">Start</button>
      <br>
      <br>
      <div id="key">
      </div>
      <br>
      <br>
      <div id="enterKey" style="display: none;">
        <form id="keySubmission" action = /users/acceptKey method="post">
          Sign in with Key: <input type="text" name="key">
          <button id="submitButton" type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  <div class="col-sm-3" id="cuisineSelection" style="display: none;">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        First Cuisine
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" id="one">American</a>
        <a class="dropdown-item" id="one">Mexican</a>
        <a class="dropdown-item" id="one">French</a>
        <a class="dropdown-item" id="one">Indian</a>
        <a class="dropdown-item" id="one">Chinese</a>
        <a class="dropdown-item" id="one">Thai</a>
      </div>
    </div>
    <br>
    <br>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Second Cuisine
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" id="two">American</a>
        <a class="dropdown-item" id="two">Mexican</a>
        <a class="dropdown-item" id="two">French</a>
        <a class="dropdown-item" id="two">Indian</a>
        <a class="dropdown-item" id="two">Chinese</a>
        <a class="dropdown-item" id="two">Thai</a>
      </div>
    </div>
    <br>
    <br>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Third Cuisine
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" id="three">American</a>
        <a class="dropdown-item" id="three">Mexican</a>
        <a class="dropdown-item" id="three">French</a>
        <a class="dropdown-item" id="three">Indian</a>
        <a class="dropdown-item" id="three">Chinese</a>
        <a class="dropdown-item" id="three">Thai</a>
      </div>
    </div>
    <br>
    <br>
    <button id="submitCuisine" type="submit" class="btn btn-primary">Submit</button>
  </div>




  </body>
</html>
