body,html {
  height: 100%;
  margin:0px;
  background-image: url("../images/food.jpg");
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}


body {
  padding: 50px;
  font-size:18px;
  font-family: 'Fjalla One', sans-serif;
  font-weight:800;
}

#response{
  float:right;
}

#res{
  height: 200px;
  width: 200px;
}

a {
  color: #00B7FF;
}

#signIn{
  float:right;
  position:absolute;
  top:285px;
  right:0px;


}

#header
{
  font-size: 36px;
  font-weight:800;
}

.jumbotron
{
  background-color:white !important;
}